PORT=3001
CORS_ALLOW_ORIGIN=http://localhost:5173

LOCAL_DEV_AUTH=true
LOCAL_DEV_USER_EMAIL=admin@local.test
LOCAL_DEV_USER_SUB=local-dev-admin
LOCAL_DEV_USER_ROLE=superadministrador
LOCAL_DEV_USER_NAME=Admin Local

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=rednacrem
PGSSL=false

AWS_REGION=us-east-1
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
